---
interface Props {
    title: string;
    description: string;
    image?: string;
    left?: boolean;
}

const { title, description, left = true, image } = Astro.props;
---

<li
    class={`bg-black/0 hover:bg-black/[0.06] rounded-3xl mb-2 p-5 flex flex-col w-1/2 transition-all`}
>
    {
        image ? (
            <img
                class="w-full h-[300px] object-cover rounded-xl"
                src={image}
                alt=""
            />
        ) : (
            <p class="w-full h-[300px] flex items-center justify-center font-bold text-3xl bg-white/25 text-black/50 rounded-xl">{title}</p>
        )
    }

    <div class="mt-2">
        <h3 class="font-semibold text-2xl my-1">{title}</h3>
        <p class="font-medium text-black/50 text-lg text-pretty">
            {description}
        </p>
    </div>
</li>
