---
import Header from "../components/Header.astro";
import pattern from "../images/pattern.svg";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
	</head>
	<body class="relative w-full">
		<Header />

		<div class="bg-[#D1FBE3] w-full h-full absolute z-10 overflow-hidden">
			<div class="patt w-full h-full"></div>
			<svg
				class="blur-3xl absolute z-0 top-[-7rem] left-[-7rem] opacity-75"
				width="753"
				height="518"
				viewBox="0 0 753 518"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<ellipse
					cx="283"
					cy="251.5"
					rx="338"
					ry="266.5"
					fill="#004F2B"
					fill-opacity="0.49"
				>
				</ellipse>
				<g style="mix-blend-mode:hard-light">
					<ellipse
						cx="589.5"
						cy="331"
						rx="163.5"
						ry="128"
						fill="#A49300"
						fill-opacity="0.74"></ellipse>
				</g>
			</svg>
			<svg
				class="blur-3xl absolute z-0 top-[900px] right-[-7rem] opacity-75"
				width="753"
				height="518"
				viewBox="0 0 753 518"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<ellipse
					cx="283"
					cy="251.5"
					rx="338"
					ry="266.5"
					fill="#004F2B"
					fill-opacity="0.49"
				>
				</ellipse>
				<g style="mix-blend-mode:hard-light">
					<ellipse
						cx="589.5"
						cy="331"
						rx="163.5"
						ry="128"
						fill="#A49300"
						fill-opacity="0.74"></ellipse>
				</g>
			</svg>
			<svg
				class="blur-3xl absolute z-0 top-[1800px] left-[-7rem] opacity-75"
				width="753"
				height="518"
				viewBox="0 0 753 518"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<ellipse
					cx="283"
					cy="251.5"
					rx="338"
					ry="266.5"
					fill="#004F2B"
					fill-opacity="0.49"
				>
				</ellipse>
				<g style="mix-blend-mode:hard-light">
					<ellipse
						cx="589.5"
						cy="331"
						rx="163.5"
						ry="128"
						fill="#A49300"
						fill-opacity="0.74"></ellipse>
				</g>
			</svg>
			<svg
				class="blur-3xl absolute z-0 top-[2500px] right-[-7rem] opacity-75"
				width="753"
				height="518"
				viewBox="0 0 753 518"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<ellipse
					cx="283"
					cy="251.5"
					rx="338"
					ry="266.5"
					fill="#004F2B"
					fill-opacity="0.49"
				>
				</ellipse>
				<g style="mix-blend-mode:hard-light">
					<ellipse
						cx="589.5"
						cy="331"
						rx="163.5"
						ry="128"
						fill="#A49300"
						fill-opacity="0.74"></ellipse>
				</g>
			</svg>

			<div class="glass bg-[#F8FFFB82] w-full absolute top-0 h-full z-20">
			</div>
			<svg
				class="absolute top-[-2rem] left-0 z-40 mix-blend-soft-light"
				width="695"
				viewBox="0 0 895 450"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<g opacity="0.5">
					<path
						d="M585.824 449.945C559.855 449.491 536.994 441.08 518.208 424.118C502.515 409.946 493.003 392.663 489.907 372.501C489.199 367.895 488.535 363.278 488.72 358.63C489.332 343.317 493.256 328.848 501.714 315.503C511.967 299.323 522.065 283.061 532.229 266.833C546.765 243.622 561.298 220.414 575.83 197.199C591.041 172.905 606.234 148.601 621.46 124.317C636.871 99.7366 652.338 75.1832 667.746 50.599C678.285 33.7839 688.668 16.8902 699.31 0.129684C705.095 -8.98137 710.149 -18.5193 716.958 -27.0464C733.463 -47.7068 755.471 -60.0927 783.09 -63.9414C787.848 -64.6039 792.65 -65.1127 797.411 -64.9864C825.241 -64.2385 849.445 -55.3801 868.668 -36.5297C883.342 -22.1391 892.048 -5.05078 894.411 14.7559C896.432 31.7008 893.146 47.7817 885.541 63.0977C882.222 69.7773 877.679 75.9447 873.663 82.3306C856.183 110.138 838.691 137.939 821.203 165.744C801.368 197.281 781.51 228.808 761.716 260.365C750.12 278.847 738.632 297.383 727.085 315.889C710.498 342.464 693.889 369.032 677.306 395.61C672.388 403.489 667.442 411.333 660.971 418.272C646.668 433.605 628.843 443.481 607.413 447.825C600.419 449.242 593.318 449.816 585.82 449.942L585.824 449.945Z"
						fill="black"></path>
					<path
						d="M235.812 26.493C235.56 41.3446 231.199 56.4523 222.24 70.5048C209.822 89.987 197.707 109.637 185.444 129.204C169.851 154.082 154.232 178.943 138.642 203.817C125.578 224.662 112.536 245.517 99.491 266.372C84.9696 289.59 70.4705 312.819 55.938 336.03C41.5909 358.944 27.2994 381.893 12.8225 404.738C0.518646 424.156 -17.4291 437.467 -40.3422 444.966C-53.2505 449.191 -66.7113 450.785 -80.3687 449.631C-101.702 447.828 -120.762 440.705 -136.964 427.673C-149.26 417.78 -158.278 405.712 -163.97 391.564C-168.706 379.792 -170.612 367.615 -169.822 355.136C-169.136 344.304 -166.266 333.885 -161.453 323.951C-157.474 315.738 -152.123 308.222 -147.302 300.439C-134.909 280.418 -122.357 260.481 -109.849 240.517C-94.5081 216.032 -79.1413 191.557 -63.793 167.076C-51.2777 147.119 -38.7847 127.152 -26.251 107.202C-11.496 83.7172 3.28868 60.2463 18.0622 36.7686C30.1176 17.6142 42.0878 -1.58458 54.2582 -20.6775C64.0627 -36.0584 77.7089 -47.7819 95.1116 -55.6499C106.952 -61.0045 119.478 -63.9277 132.724 -64.6722C150.401 -65.6625 167.114 -62.5242 182.611 -54.9328C211.16 -40.9452 228.426 -19.11 234.337 10.2516C235.327 15.1725 235.772 20.131 235.82 26.4828L235.812 26.493Z"
						fill="black"></path>
					<path
						d="M159.853 361.922C159.82 343.15 165.03 327.704 174.256 313.163C191.488 286.015 208.401 258.695 225.478 231.461C242.736 203.933 260.042 176.426 277.3 148.898C292.585 124.512 307.822 100.102 323.104 75.7159C341.152 46.9041 359.237 18.1059 377.274 -10.7093C381.831 -17.99 386.147 -25.4106 392.014 -31.9127C406.895 -48.4 425.684 -58.8804 448.546 -63.1525C454.964 -64.3512 461.472 -65.1093 467.962 -64.9659C493.192 -64.4126 515.368 -56.5856 533.953 -40.6139C548.337 -28.2519 557.623 -13.1783 562.228 4.37786C564.353 12.4713 565.299 20.7149 564.776 29.0166C563.882 43.2637 559.792 56.6981 551.997 69.1148C536.512 93.7878 521.056 118.474 505.589 143.154C489.443 168.916 473.287 194.675 457.149 220.441C443.843 241.682 430.572 262.94 417.256 284.174C401.844 308.755 386.396 333.315 370.977 357.892C361.48 373.031 351.928 388.138 342.553 403.345C330.302 423.223 312.632 437.214 289.274 444.877C276.251 449.15 262.678 450.809 248.891 449.628C227.795 447.825 208.998 440.612 193.071 427.707C176.029 413.897 165.43 396.58 161.363 375.937C160.324 370.671 159.716 365.391 159.853 361.922Z"
						fill="black"></path>
				</g>
			</svg>
			<svg
			class="absolute right-[-4rem] top-[1000px] z-40 mix-blend-soft-light"
				width="695"
				viewBox="0 0 1065 515"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<g clip-path="url(#clip0_10_46)">
					<path
						d="M755.824 514.945C729.855 514.491 706.994 506.08 688.208 489.118C672.515 474.946 663.003 457.663 659.907 437.501C659.199 432.895 658.535 428.278 658.72 423.63C659.332 408.317 663.256 393.848 671.714 380.503C681.967 364.323 692.065 348.061 702.229 331.833C716.765 308.622 731.298 285.414 745.83 262.199C761.041 237.905 776.234 213.601 791.46 189.317C806.871 164.737 822.338 140.183 837.746 115.599C848.285 98.7839 858.668 81.8902 869.31 65.1297C875.095 56.0187 880.149 46.4807 886.958 37.9536C903.463 17.2933 925.471 4.90728 953.09 1.05865C957.848 0.396151 962.65 -0.112675 967.411 0.0136775C995.241 0.761549 1019.44 9.6199 1038.67 28.4704C1053.34 42.8609 1062.05 59.9493 1064.41 79.7559C1066.43 96.7008 1063.15 112.782 1055.54 128.098C1052.22 134.777 1047.68 140.945 1043.66 147.331C1026.18 175.139 1008.69 202.94 991.203 230.744C971.368 262.281 951.51 293.808 931.716 325.365C920.12 343.847 908.632 362.383 897.085 380.889C880.498 407.464 863.889 434.032 847.306 460.61C842.388 468.489 837.442 476.333 830.971 483.272C816.668 498.605 798.843 508.481 777.413 512.825C770.419 514.242 763.318 514.816 755.82 514.942L755.824 514.945Z"
						fill="black"></path>
					<path
						d="M405.812 91.493C405.56 106.345 401.199 121.452 392.24 135.505C379.822 154.987 367.707 174.637 355.444 194.204C339.851 219.082 324.232 243.943 308.642 268.817C295.578 289.662 282.536 310.517 269.491 331.372C254.97 354.59 240.47 377.819 225.938 401.03C211.591 423.944 197.299 446.892 182.822 469.738C170.519 489.156 152.571 502.467 129.658 509.966C116.749 514.191 103.289 515.785 89.6312 514.631C68.2979 512.828 49.2376 505.705 33.0364 492.673C20.74 482.78 11.7216 470.712 6.02947 456.564C1.29408 444.792 -0.611946 432.615 0.177904 420.136C0.863924 409.304 3.73408 398.885 8.54735 388.951C12.5263 380.738 17.8772 373.222 22.6979 365.439C35.0908 345.418 47.6431 325.481 60.1509 305.517C75.4918 281.032 90.8587 256.557 106.207 232.076C118.722 212.119 131.215 192.152 143.749 172.202C158.504 148.717 173.289 125.246 188.062 101.769C200.118 82.6142 212.088 63.4154 224.258 44.3225C234.063 28.9416 247.709 17.2181 265.112 9.35008C276.952 3.99546 289.478 1.07227 302.724 0.327813C320.401 -0.662519 337.114 2.47581 352.611 10.0672C381.16 24.0548 398.426 45.8899 404.337 75.2516C405.327 80.1725 405.772 85.131 405.82 91.4828L405.812 91.493Z"
						fill="black"></path>
					<path
						d="M329.853 426.922C329.82 408.15 335.03 392.704 344.256 378.163C361.488 351.015 378.401 323.695 395.478 296.461C412.736 268.933 430.042 241.426 447.3 213.898C462.585 189.512 477.822 165.102 493.104 140.716C511.152 111.904 529.237 83.1059 547.274 54.2907C551.831 47.01 556.147 39.5894 562.014 33.0873C576.895 16.6 595.684 6.11956 618.546 1.84747C624.964 0.648826 631.472 -0.10929 637.962 0.0341376C663.192 0.587357 685.368 8.4144 703.953 24.3861C718.337 36.7481 727.623 51.8217 732.228 69.3779C734.353 77.4713 735.299 85.7149 734.776 94.0166C733.882 108.264 729.792 121.698 721.997 134.115C706.512 158.788 691.056 183.474 675.589 208.154C659.443 233.916 643.287 259.675 627.149 285.441C613.843 306.682 600.572 327.94 587.256 349.174C571.844 373.755 556.396 398.315 540.977 422.892C531.48 438.031 521.928 453.138 512.553 468.345C500.302 488.223 482.632 502.214 459.274 509.877C446.251 514.15 432.678 515.809 418.891 514.628C397.795 512.825 378.998 505.612 363.071 492.707C346.029 478.897 335.43 461.58 331.363 440.937C330.324 435.671 329.716 430.391 329.853 426.922Z"
						fill="black"></path>
				</g>
			</svg>
			<svg
			class="absolute left-[-4rem] top-[1900px] z-40 mix-blend-soft-light"
				width="695"
				viewBox="0 0 1065 515"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<g clip-path="url(#clip0_10_46)">
					<path
						d="M755.824 514.945C729.855 514.491 706.994 506.08 688.208 489.118C672.515 474.946 663.003 457.663 659.907 437.501C659.199 432.895 658.535 428.278 658.72 423.63C659.332 408.317 663.256 393.848 671.714 380.503C681.967 364.323 692.065 348.061 702.229 331.833C716.765 308.622 731.298 285.414 745.83 262.199C761.041 237.905 776.234 213.601 791.46 189.317C806.871 164.737 822.338 140.183 837.746 115.599C848.285 98.7839 858.668 81.8902 869.31 65.1297C875.095 56.0187 880.149 46.4807 886.958 37.9536C903.463 17.2933 925.471 4.90728 953.09 1.05865C957.848 0.396151 962.65 -0.112675 967.411 0.0136775C995.241 0.761549 1019.44 9.6199 1038.67 28.4704C1053.34 42.8609 1062.05 59.9493 1064.41 79.7559C1066.43 96.7008 1063.15 112.782 1055.54 128.098C1052.22 134.777 1047.68 140.945 1043.66 147.331C1026.18 175.139 1008.69 202.94 991.203 230.744C971.368 262.281 951.51 293.808 931.716 325.365C920.12 343.847 908.632 362.383 897.085 380.889C880.498 407.464 863.889 434.032 847.306 460.61C842.388 468.489 837.442 476.333 830.971 483.272C816.668 498.605 798.843 508.481 777.413 512.825C770.419 514.242 763.318 514.816 755.82 514.942L755.824 514.945Z"
						fill="black"></path>
					<path
						d="M405.812 91.493C405.56 106.345 401.199 121.452 392.24 135.505C379.822 154.987 367.707 174.637 355.444 194.204C339.851 219.082 324.232 243.943 308.642 268.817C295.578 289.662 282.536 310.517 269.491 331.372C254.97 354.59 240.47 377.819 225.938 401.03C211.591 423.944 197.299 446.892 182.822 469.738C170.519 489.156 152.571 502.467 129.658 509.966C116.749 514.191 103.289 515.785 89.6312 514.631C68.2979 512.828 49.2376 505.705 33.0364 492.673C20.74 482.78 11.7216 470.712 6.02947 456.564C1.29408 444.792 -0.611946 432.615 0.177904 420.136C0.863924 409.304 3.73408 398.885 8.54735 388.951C12.5263 380.738 17.8772 373.222 22.6979 365.439C35.0908 345.418 47.6431 325.481 60.1509 305.517C75.4918 281.032 90.8587 256.557 106.207 232.076C118.722 212.119 131.215 192.152 143.749 172.202C158.504 148.717 173.289 125.246 188.062 101.769C200.118 82.6142 212.088 63.4154 224.258 44.3225C234.063 28.9416 247.709 17.2181 265.112 9.35008C276.952 3.99546 289.478 1.07227 302.724 0.327813C320.401 -0.662519 337.114 2.47581 352.611 10.0672C381.16 24.0548 398.426 45.8899 404.337 75.2516C405.327 80.1725 405.772 85.131 405.82 91.4828L405.812 91.493Z"
						fill="black"></path>
					<path
						d="M329.853 426.922C329.82 408.15 335.03 392.704 344.256 378.163C361.488 351.015 378.401 323.695 395.478 296.461C412.736 268.933 430.042 241.426 447.3 213.898C462.585 189.512 477.822 165.102 493.104 140.716C511.152 111.904 529.237 83.1059 547.274 54.2907C551.831 47.01 556.147 39.5894 562.014 33.0873C576.895 16.6 595.684 6.11956 618.546 1.84747C624.964 0.648826 631.472 -0.10929 637.962 0.0341376C663.192 0.587357 685.368 8.4144 703.953 24.3861C718.337 36.7481 727.623 51.8217 732.228 69.3779C734.353 77.4713 735.299 85.7149 734.776 94.0166C733.882 108.264 729.792 121.698 721.997 134.115C706.512 158.788 691.056 183.474 675.589 208.154C659.443 233.916 643.287 259.675 627.149 285.441C613.843 306.682 600.572 327.94 587.256 349.174C571.844 373.755 556.396 398.315 540.977 422.892C531.48 438.031 521.928 453.138 512.553 468.345C500.302 488.223 482.632 502.214 459.274 509.877C446.251 514.15 432.678 515.809 418.891 514.628C397.795 512.825 378.998 505.612 363.071 492.707C346.029 478.897 335.43 461.58 331.363 440.937C330.324 435.671 329.716 430.391 329.853 426.922Z"
						fill="black"></path>
				</g>
			</svg>
			<svg
			class="absolute right-[-4rem] top-[2600px] z-40 mix-blend-soft-light"
				width="695"
				viewBox="0 0 1065 515"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<g clip-path="url(#clip0_10_46)">
					<path
						d="M755.824 514.945C729.855 514.491 706.994 506.08 688.208 489.118C672.515 474.946 663.003 457.663 659.907 437.501C659.199 432.895 658.535 428.278 658.72 423.63C659.332 408.317 663.256 393.848 671.714 380.503C681.967 364.323 692.065 348.061 702.229 331.833C716.765 308.622 731.298 285.414 745.83 262.199C761.041 237.905 776.234 213.601 791.46 189.317C806.871 164.737 822.338 140.183 837.746 115.599C848.285 98.7839 858.668 81.8902 869.31 65.1297C875.095 56.0187 880.149 46.4807 886.958 37.9536C903.463 17.2933 925.471 4.90728 953.09 1.05865C957.848 0.396151 962.65 -0.112675 967.411 0.0136775C995.241 0.761549 1019.44 9.6199 1038.67 28.4704C1053.34 42.8609 1062.05 59.9493 1064.41 79.7559C1066.43 96.7008 1063.15 112.782 1055.54 128.098C1052.22 134.777 1047.68 140.945 1043.66 147.331C1026.18 175.139 1008.69 202.94 991.203 230.744C971.368 262.281 951.51 293.808 931.716 325.365C920.12 343.847 908.632 362.383 897.085 380.889C880.498 407.464 863.889 434.032 847.306 460.61C842.388 468.489 837.442 476.333 830.971 483.272C816.668 498.605 798.843 508.481 777.413 512.825C770.419 514.242 763.318 514.816 755.82 514.942L755.824 514.945Z"
						fill="black"></path>
					<path
						d="M405.812 91.493C405.56 106.345 401.199 121.452 392.24 135.505C379.822 154.987 367.707 174.637 355.444 194.204C339.851 219.082 324.232 243.943 308.642 268.817C295.578 289.662 282.536 310.517 269.491 331.372C254.97 354.59 240.47 377.819 225.938 401.03C211.591 423.944 197.299 446.892 182.822 469.738C170.519 489.156 152.571 502.467 129.658 509.966C116.749 514.191 103.289 515.785 89.6312 514.631C68.2979 512.828 49.2376 505.705 33.0364 492.673C20.74 482.78 11.7216 470.712 6.02947 456.564C1.29408 444.792 -0.611946 432.615 0.177904 420.136C0.863924 409.304 3.73408 398.885 8.54735 388.951C12.5263 380.738 17.8772 373.222 22.6979 365.439C35.0908 345.418 47.6431 325.481 60.1509 305.517C75.4918 281.032 90.8587 256.557 106.207 232.076C118.722 212.119 131.215 192.152 143.749 172.202C158.504 148.717 173.289 125.246 188.062 101.769C200.118 82.6142 212.088 63.4154 224.258 44.3225C234.063 28.9416 247.709 17.2181 265.112 9.35008C276.952 3.99546 289.478 1.07227 302.724 0.327813C320.401 -0.662519 337.114 2.47581 352.611 10.0672C381.16 24.0548 398.426 45.8899 404.337 75.2516C405.327 80.1725 405.772 85.131 405.82 91.4828L405.812 91.493Z"
						fill="black"></path>
					<path
						d="M329.853 426.922C329.82 408.15 335.03 392.704 344.256 378.163C361.488 351.015 378.401 323.695 395.478 296.461C412.736 268.933 430.042 241.426 447.3 213.898C462.585 189.512 477.822 165.102 493.104 140.716C511.152 111.904 529.237 83.1059 547.274 54.2907C551.831 47.01 556.147 39.5894 562.014 33.0873C576.895 16.6 595.684 6.11956 618.546 1.84747C624.964 0.648826 631.472 -0.10929 637.962 0.0341376C663.192 0.587357 685.368 8.4144 703.953 24.3861C718.337 36.7481 727.623 51.8217 732.228 69.3779C734.353 77.4713 735.299 85.7149 734.776 94.0166C733.882 108.264 729.792 121.698 721.997 134.115C706.512 158.788 691.056 183.474 675.589 208.154C659.443 233.916 643.287 259.675 627.149 285.441C613.843 306.682 600.572 327.94 587.256 349.174C571.844 373.755 556.396 398.315 540.977 422.892C531.48 438.031 521.928 453.138 512.553 468.345C500.302 488.223 482.632 502.214 459.274 509.877C446.251 514.15 432.678 515.809 418.891 514.628C397.795 512.825 378.998 505.612 363.071 492.707C346.029 478.897 335.43 461.58 331.363 440.937C330.324 435.671 329.716 430.391 329.853 426.922Z"
						fill="black"></path>
				</g>
			</svg>
		</div>
		<slot />
	</body>
</html>

<style>
	html {
		scroll-behavior: smooth;
	}
	* {
		font-family: "Poppins", sans-serif;
	}
	.patt {
		background-image: url("pattern.svg");
		background-size: 100%;
		opacity: 0.1;
		background-repeat: repeat;
		width: 100%;
		position: absolute;
		z-index: 0;
	}
</style>
