---
import BigIcon from "../components/BigIcon.astro";
import Glow from "../components/Glow.astro";
import Header from "../components/Header.astro";
import { data } from "../data";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={data.me.about} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
	</head>
	<body class="relative w-full">
		<Header />

		<div class="bg-[#042E16] w-full h-full absolute z-10 overflow-hidden">
			<div class="patt w-full h-full"></div>
			<Glow class="blur-[4rem] absolute z-0 top-[-7rem] left-[-7rem] opacity-50"/>
			<Glow class="blur-[4rem] absolute z-0 top-[920px] right-[-14rem] opacity-50"/>
			<Glow class="blur-[4rem] absolute z-0 top-[1800px] left-[-7rem] opacity-50"/>
			<Glow class="blur-[4rem] absolute z-0 top-[2500px] right-[-7rem] opacity-50"/>
			<div class="glass bg-[#0007038E] w-full absolute top-0 h-full z-20">
			</div>
			<BigIcon class="opacity-50 absolute top-[-2rem] left-[-4rem] z-40 mix-blend-overlay" />
			<BigIcon class="opacity-50 absolute right-[-4rem] top-[1000px] z-40 mix-blend-overlay" />
			<BigIcon class="opacity-50 absolute left-[-4rem] top-[1900px] z-40 mix-blend-overlay" />
			<BigIcon class="opacity-50 absolute right-[-4rem] top-[2600px] z-40 mix-blend-overlay" />
		</div>
		<slot />
	</body>
</html>

<style>
	html {
		scroll-behavior: smooth;
		color: white;
	}
	* {
		font-family: "Poppins", sans-serif;
	}
	.patt {
		background-size: 100%;
		opacity: 0.1;
		background-repeat: repeat;
		width: 100%;
		position: absolute;
		z-index: 0;
	}
</style>
